*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-size: var(--app-font-size);
  font-family: var(--font-family);
}


input,
textarea {
  color: var(--control-input-color);
  font-size: inherit;
  font-family: inherit;
  min-width: 0;
  padding: 0.6em;
  box-sizing: content-box;
  border-width: var(--control-input-border-width);
  border-style: solid;
  border-color: var(--control-input-border-color);
  transition: border-color ease 0.15s;
}

input:focus,
textarea:focus {
  border-color: var(--control-input-focus-border-color);
  outline: 0;
  box-shadow: none;
}

input::placeholder,
textarea::placeholder {
  color: var(--control-input-placeholder-color);
}

input {
}

textarea {
  resize: none;
}


.time-calculator {
  display: grid;
  grid-gap: 3px;
  padding: 3px;
}

.time-calculator__input {
  font-size: 2em;
  background-color: var(--control-input-background-color);
}

.time-calculator__output {
  font-size: 2em;
  background-color: var(--control-input-readonly-background-color);
}
