/*
@styleguide

@title Copyright

```html
<a
  class="copyright"
  href="https://github.com/vovanr/demo-components"
  target="_blank"
  rel="noopener"
>
  <span class="copyright__license">MIT ©</span> <span class="copyright__author">Vladimir Rodkin</span>
</a>
```
*/
.copyright {
  position: fixed;
  right: 0;
  bottom: 0;
  opacity: 0.4;
  font-family: monospace;
  background-color: #fff;
  transition: opacity 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 100%;
  padding: 1em;
  text-decoration: none;
  color: #000;
  white-space: nowrap;
}

.copyright:hover {
  opacity: 1 !important;
  text-decoration: none;
}

.copyright__license {
}

.copyright__author {
  display: none;
  text-decoration: underline;
}

.copyright:hover .copyright__author {
  display: inline-block;
}

.copyright {
  border-right: 2px solid transparent;
  border-bottom: 2px solid transparent;
  background-clip: padding-box;
  z-index: 10;
}
