noscript {
  --space-around: 5px;

  font-size: 1.25em;
  text-align: center;
  background-color: #FFC107;
  padding: 1em 0.5em;
  position: fixed;
  top: var(--space-around);
  left: var(--space-around);
  right: var(--space-around);
}
